body {
  text-decoration: none;
  list-style: none;
  background-color: #dfe6e9;
}
.navbar {
  background-color: #60a3bc;
}
span {
  color: #222f3e;
  margin-left: 20px;
}
.menu-link {
  color: hsl(237, 38%, 30%);
  padding: 12px;
  margin: 14px;
  font-size: 22px;
}
.menu-item {
  padding: 12px;
  margin: 8px;
}
.menu-item:hover {
  background-color: #747d8c;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 4px;
}
